Source: libtmux
Maintainer: Ivan Borzenkov <ivan1986@list.ru>
Section: python
Priority: optional
Build-Depends: dh-python, python-setuptools (>= 0.6b3), python3-setuptools, python-all (>= 2.6.6-3), python3-all, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://github.com/tony/libtmux/

Package: python-libtmux
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: scripting library / orm for tmux
 libtmux - scripting library for tmux

Package: python3-libtmux
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: scripting library / orm for tmux
 libtmux - scripting library for tmux
